*{
    font-family: 'Inter', sans-serif;
    margin: auto;
    padding: auto;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head .menu ul{
    display: flex;
}
.head .menu ul li{
    display: flex;
    list-style: none;
}
.head .menu ul li a{
    margin-left: 60px;
    text-decoration: none;
}
#sort{
    width: 250px;
    height: 50px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3 , 2fr);
}
.products .description p{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #F54748;
}
.products .description button{
    width: 400px;
    height: 42px;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 10px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .foot-menu ul{
    display: flex;
}
.footer .foot-menu ul li{
    display: flex;
    list-style: none;
}
.footer .foot-menu ul li a{
    margin-left: 60px;
    text-decoration: none;
}